# Compilados
*.o
*.obj
*.exe
*.out
a.out
program

# VSCode
.vscode/

# Backup
*~
*.swp
*.bak

# Windows
Thumbs.db

# Mac
.DS_Store

# Linux
*.tmp

# Executáveis
Program
programa
grafo

# Pastas de build
build/
.vscode/
tasks.json
